.explanation{
    padding-top: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.explatitle{
    margin-bottom: 50px;
}

.bloclists{
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.simpleBloc{
    display: flex;
    justify-content: space-around;
}

.simpleContent{
}


.hiddenTextSt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:12.5%;
    width: 75%;
}