.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 80px;
    background-color: black;
    color: white;
    padding: 1rem;
}

.navbarlinks {
    display: flex;

}

.navbarlink {
    padding: 0 0.3rem;
    color: white;
}

.navburger {
    width: 40px;
    height: 40px;
    background: transparent;
    color: white;
    border: none;
}

@media screen and (max-width: 767px) {
    .navbarlinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100%;
        bottom: 0;
        width: 0;
        height: 100%;
        padding: 2rem;
        background-color: black;
        visibility: hidden;
        transition: all 0.8s ease-out;
    }

    .showlink .navbarlinks{
        right: 0;
        width: 100%;
        visibility: visible;
    }

    .navbaritem::after{
        content: "";
        display: block;
        margin: 0;
        width: 3%;
        height: 1px;
        background: white;
    }
    .navbaritem:last-child::after{
        display: none;
    }

    .navbarlink {
        display: block;
        padding: 1.5rem;
        font-size: 3rem;
    }

    .navburger {
        display: block;
        position: fixed;
        top:1rem;
        right: 1rem;
    }
    .navburger:hover{
        cursor:pointer;
    }

    .burgerline,
    .burgerline::before,
    .burgerline::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
        transition: all .5s ease-in-out;
    }

    .burgerline::before,
    .burgerline::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burgerline::before {
        transform: translateY(-12px);

    }

    .burgerline::after {
        transform: translateY(12px);

    }

    .showlink .burgerline::before{
        transform: rotate(45deg);
    }

    .showlink .burgerline::after{
        transform: rotate(-45deg);
    }
    .showlink .burgerline{
        width: 0;
        background: transparent;
    }

    .navbaritem{
        transform: translateY(100%);
    }
    .showlink .navbaritem{
        transform: translateY(0);
    }

    .showlink .slideInDown1{
        transition: all 1sec ease-out;
    }

    .showlink .slideInDown2{
        transition: all 1.1sec ease-out;
    }

    .showlink .slideInDown3{
        transition: all 1.2sec ease-out;
    }

    .showlink .slideInDown4{
        transition: all 1.3sec ease-out;
    }

    .showlink .slideInDown5{
        transition: all 1.4sec ease-out;
    }

    .showlink .slideInDown6{
        transition: all 1.5sec ease-out;
    }
}